[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
elasticsearch = "*"
beautifulsoup4 = "*"
nltk = "*"

[dev-packages]
autopep8 = "*"
flake8 = "*"
mypy = "*"

[requires]
python_version = "3.7"

[scripts]
setup = "sudo sysctl -w vm.max_map_count=262144"
start = "docker run -ti --name wdps-assignment1 -v $WDPS_ASSIGNMENT1_FOLDER:/app/assignment -p 9200:9200 karmaresearch/wdps_assignment"
score = "python ./scripts/score.py"